body {
	background-color: #ffdcb5;
	margin: 20px;
	font-family: Roboto;
}

h1 {
	color: #524402;
	font-size: 250%;
	padding-left: 1%;
}


p {
	color: #ffffff;
	font-size: 150%;
	padding-left: 2%;
}

.Information {
	border: none;
	background-color: #57312a;
	width: 100%;
	vertical-align: middle;
	border: 2px solid #57312a;
	border-radius: 25px;
}

.Results {
	border: none;
	background-color: #57312a;
	width: 100%;
	vertical-align: middle;
	border: 2px solid #57312a;
	border-radius: 25px;
}