/*Text CSS*/
body {
	background-color: #ffdcb5;
	margin: 20px;
	font-family: Roboto;
}

h1 {
	color: #524402;
	font-size: 250%;
	padding-left: 1%;
}

ul {
	list-style: none;
}

li {
	color: #ffffff;
	font-size: 120%;
	padding-left: 2%;
}

.Subpoint {
	color: #ffdcb5;
	font-size: 100%;
	padding-left: 3%;
}

/*Drop Down CSS*/
.DropdownBox {
	position: relative;
	display: inline-block;
	background-color: #57312a;
	width: 100%;
	vertical-align: middle;
	border: 2px solid #57312a;
	border-radius: 25px;
}

.DropdownButton {
  background-color: #57312a;
  color: white;
  padding: 1%;
  font-size: 170%;
  width: 100%;
  border: 2px solid #57312a;
  border-radius: 25px;
  cursor: pointer;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #57312a;
  min-width: 100%;
  z-index: 1;
  border: 2px solid #57312a;
  border-radius: 25px;
}

.show {display:block;}